{% extends 'layout.html.twig' %}

{% block content %}    
    <h1>Mise à jour de la musique {{ music.title }}</h1>
    {% include 'Admin/_form.html.twig' %}
    <a href="/admin">Retour</a>
{% endblock %}

