{% extends 'layout.html.twig' %}

{% block content %}    
    <h1 class="text-center mt-5 mb-5">Mettre à jour : {{ music.title }}</h1>
    {% include 'Admin/_form.html.twig' %}
    <p>
        <a class="text-light" href="/admin">Retour à la liste des musiques</a>
    </p>
{% endblock %}

