{% extends 'layout.html.twig' %}

{% block content %}
<main class="container">
    <h1 class="text-center mt-5 mb-5"> Musique ajoutée :</h1>
    <h1 class="text-center mt-5 mb-5">
        {{music.title}} By {{music.author}} 
    </h1>
    <p>
        {{music.source}}
    </p>
    <p>
        {{music.music_image}}
    </p>
    <div class="text-center">
       <button type="button" class="btn btn-light m-2 p-2"><a href="/admin">Retour à la liste</a></button>
    </div>
</main>
{% endblock %}