{# Music/_button_genre.html.twig #}
<div class="container">
	<h1 class="text-center mt-5 mb-5">MOOD IN MUSIC</h1>

	<div class="d-flex justify-content-between m-5 btn-group-lg " role="group" aria-label="Un groupe de boutons">
		<button type="button" class="btn btn-primary">
			<a href="">POP</a>
		</button>
		<button type="button" class="btn btn-secondary">
			<a href="">CINEMATIC</a>
		</button>
		<button type="button" class="btn btn-success">
			<a href="">ELECTRO</a>
		</button>
		<button type="button" class="btn btn-dark">
			<a href="">WORLD</a>
		</button>
		<button type="button" class="btn btn-warning">
			<a href="">CHILLOUT</a>
		</button>
		<button type="button" class="btn btn-info">
			<a href="">AMBIENT</a>
		</button>
	</div>
</div>