{# Music/_button_genre.html.twig #}
<div class="container-fluid">
	<h1 class="d-none d-sm-block text-center mt-5 mb-5">MOOD IN MUSIC</h1>

	<div class="d-none d-md-flex justify-content-evenly m-5 btn-group-lg row gy-3" role="group" aria-label="Un groupe de boutons">
		<button type="button" class="btn_list col-md-4 col-lg-2 flex-shrink-0 btn-primary rounded-circle">POP</button>
		<button type="button" class="btn_list col-md-4 col-lg-2 flex-shrink-0 btn-secondary rounded-circle">CINEMATIC</button>
		<button type="button" class="btn_list col-md-4 col-lg-2 flex-shrink-0 btn-success rounded-circle">ELECTRO</button>
		<div class="w-100 h-50 d-lg-none"></div>
		<button type="button" class="btn_list col-md-4 col-lg-2 flex-shrink-0 btn-dark rounded-circle">WORLD</button>
		<button type="button" class="btn_list col-md-4 col-lg-2 flex-shrink-0 btn-warning rounded-circle">CHILLOUT</button>
		<button type="button" class="btn_list col-md-4 col-lg-2 flex-shrink-0 btn-info rounded-circle">AMBIENT</button>
	</div>
</div>

<div class="dropdown">
	<button class="d-md-none btn btn-light dropdown-toggle mb-5" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
		Select your music genre here
	</button>
	<ul class="dropdown-menu p-0" aria-labelledby="dropdownMenuButton1">
		<li>
			<a class="align-middle dropdown-item btn-primary" href="#">POP</a>
		</li>
		<li>
			<a class="dropdown-item btn-secondary" href="#">CINEMATIC</a>
		</li>
		<li>
			<a class="dropdown-item btn-success" href="#">ELECTRO</a>
		</li>
		<li>
			<a class="dropdown-item btn-dark" href="#">WORLD</a>
		</li>
		<li>
			<a class="dropdown-item btn-warning" href="#">CHILLOUT</a>
		</li>
		<li>
			<a class="dropdown-item btn-info" href="#">AMBIENT</a>
		</li>
	</ul>
</div>
