{% extends 'layout.html.twig' %}
{% block content %}
    {% include 'Music/_button_genre.html.twig' %}
	<main class="container">
		<div class="row justify-content-around">
			{% for musical in musics %}
				<div class="card-{{ musical.genre_name }} mb-5" style="width: 20rem">
					<h5 class="card-title">{{ musical.title }}</h5>
					<h6 class="card-subtitle mb-2 text-muted">By
						{{ musical.author}}</h6>
						<a href="#" class="card-link">Link player</a>
				</div>		
			{% endfor %}	
		</div>
	</main>
{% endblock %}
