{% extends 'layout.html.twig' %}

{% block content %}


	<body>

		
<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src={{music.source}}></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/aminemaxwell" title="Amine Maxwell" target="_blank" style="color: #cccccc; text-decoration: none;">Amine Maxwell</a> · <a href="https://soundcloud.com/aminemaxwell/essaouira" title="Essaouira" target="_blank" style="color: #cccccc; text-decoration: none;">Essaouira</a></div>

	
	</body>


{% endblock %}
