{% extends 'layout.html.twig' %}

{% block content %}
	{% include 'Music/_button_genre.html.twig' %}
	<main class="container">
		<h1 class="text-center mt-5 mb-5">MOOD IN MUSIC</h1>
	</main>
{% endblock %}
