:root{
    --background-dark: #333232;
    --color-light: white;
    --color-dark: rgb(12, 12, 12);

/* Variable bootstrap button*/
    --bs-pop: #FFC93F;
    --bs-buttonPop: rgb(var(--bs-primary));

    --bs-cinematic: #A5CF2E;
    --bs-buttonCinematic: rgb(var(--bs-secondary));

    --bs-electro: #C6873D;
    --bs-buttonElectro: rgb(var(--bs-success));

    --bs-world: #33D3C0;
    --bs-buttonWorld: rgb(var(--bs-dark));

    --bs-chillout: #8E49E7;
    --bs-buttonChillout: rgb(var(--bs-warning));

    --bs-ambient: #E3355F;
    --bs-buttonAmbient: rgb(var(--bs-info));
}

/*Adapt color for button and cards*/
.btn-primary{
    background-color: var(--bs-pop);
    color: var(--color-dark);
    border: 1px solid var(--color-dark);
}

.card-pop{
    background-color: var(--bs-pop);
}

.btn-secondary{
    background-color: var(--bs-cinematic);
    color: var(--color-dark);
    border: 1px solid var(--color-dark);
}

.card-cinematic{
    background-color: var(--bs-cinematic);
}

.btn-success{
    background-color: var(--bs-electro);
    color: var(--color-dark);
    border: 1px solid var(--color-dark);
}

.card-electro{
    background-color: var(--bs-electro);
}

.btn-dark{
    background-color: var(--bs-world);
    color: var(--color-dark);
    border: 1px solid var(--color-dark);
}

.card-world{
    background-color: var(--bs-world);
}

.btn-warning{
    background-color: var(--bs-chillout);
    color: var(--color-dark);
    border: 1px solid var(--color-dark);
}

.card-chillout{
    background-color: var(--bs-chillout);
}

.btn-info{
    background-color: var(--bs-ambient);
    color: var(--color-dark);
    border: 1px solid var(--color-dark);
}

.card-ambient{
    background-color: var(--bs-ambient);
}

.btn:hover{
    background-color: var(--color-dark);
    color: var(--color-light);
}

/* CSS for general page */
body{
    background-color: var(--color-dark);
    box-sizing: border-box;
    margin-bottom: 2rem;
}

.navbar-collapse{
    flex: none;
}

h1{
    color: var(--color-light);
}

a{
    text-decoration: none;
    color: var(--color-dark);
}

p{
    color: var(--color-light);
}
    
label{
    width: 162px;
}

.table{
    color: var(--color-light);
}

body,html{
    height: max-content;
}

.sticky-footer{
    background-color: var(--background-dark);
    color: var(--color-light);
    height: 35px;
    margin-top: auto;
    margin-bottom: 0;
    width:100%;

}

p{
    color: var(--color-light);
}

label{
    width: 162px;
}